body {
  background-image: url(images/catbackground.jpg);
}

html, body {
  margin: 0;
  padding: 0;
}

.main, .text, .container {
  text-align: center;
}

ul{
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
}

.container {
  font-family: 'Luckiest Guy', cursive;
  font-size: 24px;
}

select{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.logo {
  text-align: center;
  background-color: white;
  white-space: nowrap;
  height: 150px;
  width: 100%;
}

.logoHelper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#logoImg {
  vertical-align: middle;
}

.text {
  margin-top: 15px;
  font-size: 24px;
  color: aliceblue;
  -webkit-text-stroke: 2px black;
  font-family: 'Luckiest Guy', cursive;
}

#kittybtn {
  background-color: white;
  border: 2px solid #ff6184;
  color: black;
  border-radius: 28px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Barriecito', cursive;
  font-size: 24px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

#kittybtn:hover {
  background-color: #ff6184;
  color: white;
}

#breeds {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.cats {
  text-align: center;
  margin: 5px;
}

#catImg {
  border: 2px solid #000;
  max-height: 550px;
  max-width: 550px;
}
